@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { 
    transform: translateY(5px);
    opacity: 0;
  }
  
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDownWithDelay {
  0%, 20% {
    transform: translateY(-5px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from { 
    transform: translateY(-5px);
    opacity: 0;
  }
  
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
 

html {
  font-family: 'Muli', sans-serif;

  /* --red: #F52D2D; */
  --red: #ED4934;
  --orange: #F5882D;
  --orange-light: hsl(27, 100%, 80%);
  --blue: #1B9393;
  --blue-light: hsl(180, 75%, 80%);
  /* --bg-color: #fdfcf8; */
  --bg-color: white;

  --gray: #777;
  /* --near-black: #111111; */
  --near-black: #493e36;
  /* --dark-gray: #414141; */
  --dark-gray: #4d3d33;
  --light-gray: #eee;
}

/* * {
  outline: 1px solid #fafafa;
} */
 
body {
  background: var(--bg-color);
  /* border: 1rem solid white; */
  /* min-height: 100vh; */
}

.pretty-link {
  color: inherit;

  text-decoration: none;
  box-shadow: inset 0 -4px 0 0px var(--orange-light);
  
  /* transition: all 0.2s ease; */
} 
.pretty-link:hover {
  background-color: var(--orange);
  color: white;
}

figure a,
figure a.pretty-link {
  box-shadow: none;
  cursor: zoom-in;
}
figure a,
figure a.pretty-link:hover {
  background-color: transparent;
}
figure figure {
  margin: 0 !important;
}

.pretty-bullet {
  position: relative;
}
.pretty-bullet:before {
  content: '・';
  position: absolute;
  left: -2rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.tab {
  position: relative;
  text-decoration: none;
}
.tab:before {
  content: '・';
  position: absolute;
  top: -1.5rem;
  left: calc(50% - 0.75rem);
  font-size: 1.5rem;
  color: var(--gray);
  opacity: 0;
}
.tab--unselected {
  color: var(--gray);
}
.tab--unselected:hover:before { 
  opacity: 1;
  animation: slideDown .3s ease-out
}
.tab--selected {
  color: var(--dark-gray);
}
.tab--selected:before {
  /* color: var(--blue); */
  color: var(--orange); 
  opacity: 1;
  animation: slideDown .3s ease-out
}

.dim {
  transition: opacity .1s ease-out !important;
} 
.dim:focus,.dim:hover {
  opacity: .7 !important;
}

.card-shadow {
  /* box-shadow: 0px 5px 4px -3px rgba(0, 0, 0, 0.1); */
  /* box-shadow: rgba(0,0,0,0.1) 0 20px 77px, rgba(0,0,0,0.1) 0 10px 24px; */
  /* box-shadow: 0 15px 35px rgba(90,50,50,.05), 0 5px 15px rgba(0,0,0,.04);  */
  box-shadow: 0 15px 35px rgba(90,50,50,.05), 0 6px 18px -5px rgba(0,0,0,.2);

  text-decoration: none;
}
  
.project-card--cover {
  transform: translateY(0px);
}

.project-card--cover,
.project-card--title,
.project-card--description,
.project-card--date {
  transition: all 0.2s ease-out;
}
.project-card:hover .project-card--cover {
  /* box-shadow: 0px 9px 15px -3px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 18px 35px rgba(90,50,50,.1), 0 9px 18px -5px rgba(0,0,0,.3); 

  transform: translateY(-4px);
}
.project-card:hover .project-card--title {
  color: var(--orange) !important;
}
.project-card:hover .project-card--date {
  color: var(--near-black);
  font-weight: 600;
}
.project-card:hover .project-card--description {
  color: black;
}

.text-gradient-clip {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
} 
.bg-gradient-1 {
  background: -webkit-linear-gradient(#f52f2d, #f76560);
}
.bg-gradient-2 {
  background: -webkit-linear-gradient(#f5402d, #f5442d);
}
.bg-gradient-3 {
  background: -webkit-linear-gradient(#f5512d, #f5552d);
}
.bg-gradient-4 {
  background: -webkit-linear-gradient(#f5632d, #f5672d);
}
.bg-gradient-5 {
  background: -webkit-linear-gradient(#f5742d, #f5792d);
}
.bg-gradient-6 {
  background: -webkit-linear-gradient(#f5852d, #f5882d);
}
.bg-gradient-7 {
  background: -webkit-linear-gradient(hsla(30, 91%, 57%, 1), hsla(32, 91%, 57%, 1))
}

.bg-background-color {
  background-color: var(--bg-color);
}


/* ------------------ */
/* Tachyons Overrides */
/* ------------------ */


.f-headline,
.f-headline-ns,
.f-subheadline,
.f-subheadline-ns,
.f1,
.f1-ns {
  font-family: 'Rozha One', 'Muli', sans-serif;
}

.f-subheadline,
.f-subheadline-ns {
  font-size: 3.5rem !important;
  letter-spacing: -3%;
} 

.h6 {
  height: 32rem;
}

.h7 {
  height: 64rem;
}
 
.lh-copy {
  line-height: 1.65 !important;
}

/* .f4, .f4-ns {
  font-size: 18px !important;
} */

.dark-gray {
  color: var(--dark-gray) !important;
}
.near-black {
  color: var(--near-black) !important;
}
.b--near-black {
  border-color: var(--near-black) !important;
}
.bg-dark-gray {
  background-color: var(--dark-gray) !important;
}
.orange {
  color: var(--orange) !important;
}
 
.shadow-6 {
  box-shadow: 0 0 30px 0px rgba(0,0,0,.05);
}


/* --------------------- */
/* Third-party Overrides */
/* --------------------- */

/* @media screen and (min-width: 48em) {
  .parallax {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .parallax__layer--base {
    transform: translateZ(0);
  }
  .parallax__layer--back {
    transform: translateZ(-0.5px) scale(1.5) translateX(-25%) 
  }
} */

/* Hack to make 'gatsby-remark-images-grid' with 'gatsby-remark-images' */
.gatsby-resp-image-wrapper {
  width: 100%;
}

/* Prevents flickering on ScrollReveal */
/* html.sr .project-card {
    visibility: hidden;
} */